<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.30.1" manuallyInstalled="true" />
  <package id="Grpc" version="2.46.6" manuallyInstalled="true" />
  <package id="Grpc.Core" version="2.46.6" manuallyInstalled="true" />
  <package id="Grpc.Core.Api" version="2.46.6" />
  <package id="Grpc.Tools" version="2.71.0" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.3.0" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.3.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.3" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.3" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.3" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.3" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.3" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.3" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.3" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.3" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Logging" version="9.0.3" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.3" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.3" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Options" version="9.0.3" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.3" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.3" />
  <package id="OpenTelemetry.Api" version="1.11.2" manuallyInstalled="true" />
  <package id="OpenTelemetry.Api.ProviderBuilderExtensions" version="1.11.2" manuallyInstalled="true" />
  <package id="OpenTelemetry.Exporter.Console" version="1.11.2" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="4.7.2" />
</packages>