<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="9.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.0" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" />
  <package id="OpenTelemetry" version="1.11.2" manuallyInstalled="true" />
  <package id="OpenTelemetry.Api" version="1.11.2" />
  <package id="OpenTelemetry.Api.ProviderBuilderExtensions" version="1.11.2" />
  <package id="OpenTelemetry.Exporter.OpenTelemetryProtocol" version="1.11.2" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>